<!DOCTYPE html>
<html>
  <head>
    <title>RSS Feeder</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
    
    <!-- Semantic UI CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>